.comic-list.style-1 {
    flex-wrap: wrap;
    justify-content: space-around;
}

.comic-list.style-1>i {
    width: 188px;
    margin-left: 5px;
    margin-right: 5px;
}

.comic-item-deprecated-1 {
    opacity: 0.6;
}

.comic-item-deprecated-1:hover {
    opacity: 1.0;
}

.comic-item-1 {
    width: 188px;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.comic-brief-1 {
    background-color: #fff;
    color: #000;
    overflow: hidden;
}

.comic-cover-1 {
    float: none;
    width: 188px;
    height: 230px;
    overflow: hidden;
    border-radius: 0;
    /* font-size: 0; */
    text-align: center;
    background-size: cover;
    background-position: center;
    transform: scale(1.0, 1.0);
    transition: transform 200ms ease-in-out;
}

.comic-cover-wrapper-1 {
    width: 188px;
    height: 230px;
    overflow: hidden;
}

.comic-cover-1 img {
    height: 230px;
    display: block;
}

.comic-cover-1:hover {
    transform: scale(1.1, 1.1);
    transition: transform 200ms ease-in-out;
}

.comic-title-1 {
    text-align: center;
}

.comic-title-1 .comic-title-main {
    font-size: 24px;
    font-weight: bold;
}

.comic-title-1 .comic-title-type {
    font-size: 12px;
    color: #999;
    margin-top: -2px;
}

.comic-title-1 .comic-title-date {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 195, 255);
}

.comic-title-1 .comic-title-progress-wrapper {
    height: 0;
}

.comic-title-1 .comic-title-progress {
    position: relative;
    top: -10px;
    width: 50%;
    left: 25%;
    display: flex;
    align-items: center;
}

.comic-title-1 .comic-title-progress-bar {
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 5px 2px 5px 2px;
    background-color: #777;
}

.comic-title-1 .comic-title-progress-bar::before {
    display: block;
    counter-reset: progress var(--precent);
    content: ' ';
    width: calc(1% * var(--precent));
    background-color: rgb(126, 204, 66);
    white-space: nowrap;
    overflow: hidden;
    height: 6px;
    border-radius: 5px 2px 5px 2px;
}

.comic-title-1 .comic-title-progress-text {
    position: absolute;
    font-size: 12px;
    color: #fff;
    width: 100%;
    filter: drop-shadow(0 0 1.5px rgb(0, 0, 0));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 500px) {
    .comic-item-1 {
        width: calc(50% - 10px) !important;
    }

    .comic-cover-wrapper-1 {
        height: auto !important;
        width: auto !important;
    }

    .comic-cover-1 {
        height: auto !important;
        width: auto !important;
        padding-top: 122%;
    }

    .comic-title-1 .comic-title-main {
        font-size: 20px;
    }

    .comic-title-1 .comic-title-type {
        font-size: 10px;
    }

    .comic-title-1 .comic-title-date {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .comic-title-1 .comic-title-main {
        font-size: 18px;
    }

    .comic-title-1 .comic-title-type {
        font-size: 9px;
    }

    .comic-title-1 .comic-title-date {
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {
    .comic-title-1 .comic-title-main {
        font-size: 14px;
    }

    .comic-title-1 .comic-title-type {
        font-size: 7px;
    }

    .comic-title-1 .comic-title-date {
        font-size: 10px;
    }
}