/* scrollbar */

::-webkit-scrollbar {
    width: 16px;
    background-color: rgba(127, 127, 127, .3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, .3);
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, .6);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(127, 127, 127, .9);
}

.index-container ::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, .3);
}

.index-container ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
}

.index-container :hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .5);
}

.index-container ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .7);
}