/* scrollbar */

::-webkit-scrollbar {
    width: 16px;
    background-color: rgba(127, 127, 127, .3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, .3);
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, .6);
    -webkit-box-shadow: inset 1px 1px 0 rgba(127, 127, 127, .1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(127, 127, 127, .9);
    -webkit-box-shadow: inset 1px 1px 0 rgba(127, 127, 127, .1);
}