/* scrollbar */

::-webkit-scrollbar {
    width: 16px;
    background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}